
@{
    ViewBag.Title = "Search Submit";
}

<br />
<br />
<h2>No event registration found, please try again...</h2>
<br />
<br />
<div>
    @Html.ActionLink("Back to search", "SearchEventRegistration")
</div>

