
@{
    ViewBag.Title = "Home";
}

<br />
<br />
<center>
    <img src="~/Images/Logo.PNG" alt="Company Logo" />
    <br />
    <h1>Event Registration System</h1>
    <br />
    <br />
    <p>
        Showtime Events has been bringing clients and events together since 1987. Based in Wellington, New Zealand, <br />
        Showtime Events is responsible for running events accross the globe. This website allows for clients to search for and<br />
        easily register for events.
    </p>
</center>
<br />
<br />
<br />